config.json
.eslintrc.json
/node_modules/*
gamelist.json
counting.json
datalog.json
events.json
prunestorage.json
prunedata.json
vettinglimit.json
votes.json
pm2.json
*CSV*
.editorconfig
*.xlsx
/db/*
/.idea/*
/.vscode/*
commands/testcommand.js